#color-palette {
  width: 100%;
}

#color-palette .color {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.color:nth-of-type(1) {
  background-color: black;
}

.color:nth-of-type(2) {
  background-color: #297373;
}

.color:nth-of-type(3) {
  background-color: #FF8552;
}

.color:nth-of-type(4) {
  background-color: #E9D758;
}

.pixel {
  background-color: white;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}